    * {
        margin: 0;
        padding: 0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    a {
        color: black;
    }

    #header {
        position: absolute;
        top: 120px;
        left: 320px;
    }

    #background-image {
        position: fixed;
        width: 100%;
        min-width: 1915px;
        background: linear-gradient(0deg, #BDBDCB, #BDBDCB);
        background-blend-mode: lighten, normal;
        opacity: 0.24;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #container {
        position: absolute;
        top: 120px;
        left: 1120px;
        width: 384px;
    }

    #id_title,
    #pw_title {
        padding: 10px 0 10px 0;
        width: 15px;
        height: 18px;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: #171529;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    #container>input {
        margin: 0 0 10px 0;
        box-sizing: border-box;
        width: 384px;
        height: 48px;
        background: #FFFFFF;
        border: 1px solid #BDBDCB;
        border-radius: 4px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    #remember_info {
        display: flex;
        margin: 0 0 20px 0;
    }

    #remember_info>input {
        margin: 0 10px 0 0;
        box-sizing: border-box;
        width: 24px;
        height: 24px;
        background: #F8F8FA;
        border: 1px solid #BDBDCB;
        border-radius: 4px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    #remember_info>p {
        width: 100%;
        height: 18px;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #171529;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    #container>button {
        width: 100%;
        line-height: 50px;
        background: #006FF2;
        border: none;
        border-radius: 4px;
        color: #FFFFFF;
        margin: 0 0 15px 0;
    }
    
    #container>button:hover {
        background-color: #16568A;
    }

    #forgot {
        width: 100%;
        height: 16px;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .forgot-info {
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
    }

    #footer-sea {
        position: fixed;
        width: 100%;
        height: 160px;
        top: calc(100vh - 160px);
        background: linear-gradient(180deg, #1A65A1 17.19%, #16568A 100%);
    }

    #footer-boat {
        position: fixed;
        width: 894px;
        height: 220px;
        left: 620px;
        top: calc(100vh - 320px);
    }